@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Teko:wght@300..700&display=swap');

:root {
    --cor-texto: #ded0d0;
    --cor-destaque: #5C8374;
    --cor-titulo: #93B1A6;
    --cor-fundo: #183D3D;
    --cor-fundo-menu:#003C43;
    --cor-degrade-fundo_a: #040D12;
    --cor-degrade-fundo_b: #07171f;
    --fonte-principal: "Poppins" , sans-serif;
    --cor-hover: rgba(61, 114, 110, 0.9);
    --cor-fonte-hover: #092635;
}
body {
    background: url('../images/background.png') no-repeat, 
                linear-gradient(to bottom,var(--cor-degrade-fundo_a), var(--cor-degrade-fundo_b));
    background-position: top left; /* Posiciona a imagem no canto superior direito */
    background-size: 50%; /* Reduz o tamanho da imagem para 50% do tamanho original */
    
  }

.cabecalho {
    display: flex;
    background-color: var(--cor-fundo);
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5% 20% 0% 20%;
    border-radius: 10px;
    position: relative;
}

.container__item-menu {
    font-family: var(--fonte-principal);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 28px;    
    margin-right: 30px;
    font-weight: bold;
  }
  .container__item-menu:hover{
    background-color: var(--cor-destaque);
    border-radius: 10px;
}
.container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container__imagem {
    padding: 0.5em;
    margin: 0.2em;

}

.container__titulo {
    color: var(--cor-titulo);
    padding: 0.3em 0;
    font-size: 48px;
    font-family: var(--fonte-principal);
}

.principal__titulo {
    color: var(--cor-titulo);
    font-size: 48px;
    font-family: var(--fonte-principal);
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.principal__central {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
}

.principal__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.principal__imagem {
    padding: 1em;
    margin: 0.2em;
    width: 20%;
    border-radius: 20%;
}

.strong_text0 {
    color: var(--cor-destaque);
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 0 2em;
}

.projetos__titulo {
    color: var(--cor-titulo);
    font-size: 38px;
    font-family: "Teko" , sans-serif;
}

.projetos__lista {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: var(--cor-texto);
    padding: 1em;
}
.projetos__item {
    padding: 0.5em;
    color: var(--cor-texto);
    font-size: 18px;
    font-family: "Poppins" , sans-serif;
}

.projetos__item a {
    text-decoration: none;
    color: var(--cor-texto);

}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}

.sobre__titulo {
    color: var(--cor-titulo);
    font-size: 32px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    color: var(--cor-titulo);
}

.sobre__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
    word-wrap: break-word;
    line-height: 1.2;
    margin-left: 15px;

}

.projetos__item a:hover {
    color: var(--cor-destaque);
}

.projetos__lista li::before {
    content: "•";
    color: var(--cor-destaque);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    
}

.rodape__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.rodape__texto {
    color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
   
}

.rodape__email {
color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
    margin: 0.2em;
}

.rodape__imagem {
    width: 5%;
    vertical-align: middle;
}

.rodape__icones {
    color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
    margin: 0.2em;
}

.rodape__icones_link {
    text-decoration: none;
    color: var(--cor-destaque);
}


/*Página Sobre*/
.conteudo-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}

.conteudo-contato__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo-contato__titulo{
    color: var(--cor-titulo);
    font-size: 42px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    color: var(--cor-titulo);
}
.conteudo-contato__texto {
    color: var(--cor-texto);
    font-size: 26px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.conteudo-contato__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 0 2em;

}

/*Section FORMAÇÃO:*/
.formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.formacao__titulo {
    color: var(--cor-titulo);
    font-size: 42px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    color: var(--cor-titulo);

}
.formacao__topo {
    margin-bottom: 15px;
}

.formacao__texto {
    color: var(--cor-texto);
    font-size: 26px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-texto-data {
    color: var(--cor-texto);
    font-size: 12px;
    font-weight: bold;
    font-family: var(--fonte-principal);
    margin-top: 1em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-lista {
    display: flex;
    flex-direction: row;
    padding: 0 20% 0 25%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.formacao__itens-item {
    transition: background-color 1s;
    width: 200px;
    height: 125px;
    padding: 1.5% 3% 1.5% 3%;
    background-color: var(--cor-fundo-menu);
    border-radius: 10px;
    margin: 1.5em;
    word-wrap: break-word; 
  }

  .formacao__itens-item:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
  }

.formacao__itens-titulo {
    color: var(--cor-titulo);
    font-size: 22px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-titulo);
    word-wrap: break-word;
}

.formacao__itens-texto {
    color: var(--cor-texto);
    font-size: 14px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-curso {
    transition: background-color 1s;
    width: 450px;
    height: 50px;
    color: var(--cor-texto);
    font-size: 24px;
    font-family: var(--fonte-principal);
    margin-top: 1em;
    background-color: var(--cor-fundo-menu); 
    padding: 3%;
    text-align: top;
    border-radius: 10px;
}

.formacao__itens-curso:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
}

.formacao__cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20% 0 20%;
}

.link-cur {
    text-decoration: none;
}

.projetos__botoes {
    transition: background-color 1s;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0.5em 2em;
    background-color: var(--cor-fundo-menu);
    border-radius: 10px;
    border-style: none;
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: var(--cor-texto);
    text-decoration: none;
}

.projetos__botoes:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
}

.destaque-botao {
    font-weight: bold;
    font-size: 26px;
}

.projetos__container-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}


.projetos__imagem {
    width: 50%;
    margin-right: 30px;
}

.hide {
    display: none;
}

.projetos__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: var(--fonte-principal);
    text-align: top;
    word-wrap: break-word;
    line-height: 1.2;

}

@media screen and (min-width: 1024px) {
    body {
        background: url('../images/background.png') no-repeat, 
                    linear-gradient(to bottom,var(--cor-degrade-fundo_a), var(--cor-degrade-fundo_b));
        background-position: top center; 
        background-size: 50%; 
      }
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        display: flex;
        align-items: center;
        margin: 0 10% 0 10%;
    }
      
    .principal__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        margin: 2% 20%;
    }
    .principal__titulo {
        font-size: 64px;
        font-family: var(--fonte-principal);
        font-weight: 700;
    }
    .principal__imagem {
        display: flex;
        width: 22.5%;
        border-radius: 25%;

    }
    .principal__texto {
        font-size: 26px;
        padding: 1em;
    }
    .strong_text0 {
        font-size: 26px;

    }

    .sobre__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% 20%;
        padding: 0 2em;
    }
    .sobre__titulo {
        font-size: 54px;
        font-family: "Teko" , sans-serif;
        font-weight: 400;
    }
    .sobre__texto {
        font-size: 26px;
    }

    .projetos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20% 2% 20%;
    }

    .projetos__titulo {
        color: var(--cor-titulo);
        font-size: 42px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .projetos__lista {
        flex-direction: row;
        gap: 10px
    }

    .rodape {
        display: flex;
        justify-content: center;
        background-color: var(--cor-fundo);
        margin-top: auto;
    }

    .rodape__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }
    .rodape__texto {
        font-size: 15px;
        flex-direction: row;
        font-family: var(--fonte-principal);
        margin: 0.5em;

    }
    .rodape__email {
        font-size: 15px;
        flex-direction: column;
        font-family: "Poppins" , sans-serif;
        margin: 0.2em;
    }
    .rodape__icones_link:hover {
        color: #500bdc;
    }


}

@media screen and (max-width: 1000px) {
    body {
        background: linear-gradient(to bottom,var(--cor-degrade-fundo_a), var(--cor-degrade-fundo_b));
      }
      .cabecalho {
        display: flex;
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin: 0%;
        border-radius: 10px;
    }
    .container {
        align-items: center;
    
    }

    .container__item-menu {
        font-family: var(--fonte-principal);
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: var(--cor-texto);
        font-size: 20px;    
        margin-right: 20px;
        font-weight: bold;
      }
    
    .principal {
        display: flex;
        flex-direction: column;
    }
      
    .principal__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin: 1% 5%;
    }
    .principal__titulo {
        font-size: 48px;
        font-family: var(--fonte-principal);
        font-weight: 700;
    }

    .principal__central {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .principal__imagem {
        display: flex;
        width: 100%;
        border-radius: 25%;
       

    }
    .principal__texto {
        font-size: 24px;
        
    
    }
    .strong_text0 {
        font-size: 20px;


    }
    .formacao__titulo {
        color: var(--cor-titulo);
        font-size: 30px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        color: var(--cor-titulo);
    
    }

    .formacao__itens-curso {
        transition: background-color 1s;
        width: 300px;
        height: 60px;
        color: var(--cor-texto);
        font-size: 20px;
        font-family: var(--fonte-principal);
        margin-top: 1em;
        background-color: var(--cor-fundo-menu); 
        padding: 3%;
        text-align: top;
        border-radius: 10px;
    }

    .formacao__itens-lista {
        display: flex;
        flex-direction: row;
        padding: 0 20% 0 25%;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    
    .formacao__itens-item {
        transition: background-color 1s;
        width: 200px;
        height: 145px;
        padding: 1.5% 3% 1.5% 3%;
        background-color: var(--cor-fundo-menu);
        border-radius: 10px;
        
        word-wrap: break-word; 
      }

    .sobre__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobre__titulo {
        font-size: 54px;
        font-family: "Teko" , sans-serif;
        font-weight: 400;
    }
    .sobre__texto {
        font-size: 26px;
    }

    .projetos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20% 2% 20%;
    }

    .projetos__titulo {
        color: var(--cor-titulo);
        font-size: 24px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    
    }

    .projetos__lista {
        flex-direction: row;
        gap: 10px
    }

    .projetos__botoes {
        transition: background-color 1s;
        width: 350px;
        justify-content: center;
        align-items: center;
        margin: 1em;
        padding: 0.5em 2em;
        background-color: var(--cor-fundo-menu);
        border-radius: 10px;
        border-style: none;
        font-family: var(--fonte-principal);
        font-size: 16px;
        color: var(--cor-texto);
        text-decoration: none;
    }

    .projetos__container-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        padding: 0 2em;
    }

    .projetos__imagem {
        width: 100%;
        margin-bottom: 25px;
    }

    .rodape {
        display: flex;
        justify-content: center;
        background-color: var(--cor-fundo);
        margin-top: auto;
    }

    .rodape__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }
    .rodape__texto {
        font-size: 15px;
        flex-direction: column;
        font-family: var(--fonte-principal);
        margin: 0.5em;

    }
    .rodape__email {
        font-size: 15px;
        flex-direction: column;
        font-family: "Poppins" , sans-serif;
        margin: 0.2em;
    }
    .rodape__icones_link:hover {
        color: #500bdc;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sobre__titulo {
        color: var(--cor-titulo);
        font-size: 32px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        color: var(--cor-titulo);
    }
    
    .sobre__texto {
        color: var(--cor-texto);
        font-size: 20px;
        font-family: "Poppins" , sans-serif;
        margin-top: 2em;
        margin-bottom: 1em;
        word-wrap: break-word;
        line-height: 1.2;
    
    }

    .conteudo-contato__titulo{
        color: var(--cor-titulo);
        font-size: 20px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        color: var(--cor-titulo);
    }

}