@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+Rounded+1c:wght@400;800&display=swap');
:root {
    --cor-texto: #242727;
    --cor-destaque: #D1884F;
    --cor-destaque-laranja: #D1884F;
    --cor-titulo: #AAD7D9;
    --cor-fundo: #ffffff;
    --cor-fundo-menu:#FBF9F1;
    --fonte-principal: "Kanit", sans-serif;
    --cor-hover: #ccebeb;
    --cor-fonte-hover: #092635;
    --cor-text-card: #E5E1DA;
}
body {
    background-color: var(--cor-fundo);
  }

.cabecalho {
    display: flex;
    background-color: var(--cor-fundo);
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5% 20% 0% 20%;
    border-radius: 10px;
    position: relative;
}
.container__item-menu {
    transition: color 1s;
    font-family: var(--fonte-principal);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 28px;    
    margin-right: 30px;
    font-weight: bold;
  }
  .container__item-menu:hover{
    color: var(--cor-destaque);
}
.container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container__imagem {
    padding: 0.5em;
    margin: 0.2em;

}

.container__titulo {
    color: var(--cor-titulo);
    padding: 0.3em 0;
    font-size: 48px;
    font-family: var(--fonte-principal);
}

.principal__titulo {
    color: var(--cor-titulo);
    font-size: 48px;
    font-family: var(--fonte-principal);
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.principal__central {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
}

.principal__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.principal__imagem {
    padding: 1em;
    margin: 0.2em;
    width: 20%;
    border-radius: 20%;
}

.strong_text0 {
    color: var(--cor-destaque-laranja);
    font-family: var(--fonte-principal);
    font-weight: bold;
}

.strong-titulo {
    color: var(--cor-destaque-laranja);
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 0 2em;
}

.projetos__titulo {
    color: var(--cor-titulo);
    font-size: 38px;
    font-family: "Teko" , sans-serif;
}

.projetos__lista {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color: var(--cor-texto);
    padding: 1em;
}
.projetos__item {
    padding: 0.5em;
    color: var(--cor-texto);
    font-size: 18px;
    font-family: "Poppins" , sans-serif;
}

.projetos__item a {
    text-decoration: none;
    color: var(--cor-texto);

}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}

.sobre__titulo {
    color: var(--cor-titulo);
    font-size: 32px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    color: var(--cor-titulo);
}

.sobre__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: "Poppins" , sans-serif;
    margin-top: 2em;
    margin-bottom: 1em;
    word-wrap: break-word;
    line-height: 1.2;
    margin-left: 15px;

}

.projetos__item a:hover {
    color: var(--cor-destaque);
}

.projetos__lista li::before {
    content: "•";
    color: var(--cor-destaque);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    
}

.rodape__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.rodape__texto {
    color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
   
}

.rodape__email {
color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
    margin: 0.2em;
}

.rodape__imagem {
    width: 5%;
    vertical-align: middle;
}

.rodape__icones {
    color: var(--cor-texto);
    font-size: 15px;
    font-family: "Poppins" , sans-serif;
    font-weight: bold;
    margin: 0.2em;
}

.rodape__icones_link {
    text-decoration: none;
    color: var(--cor-destaque);
}


/*Página Sobre*/
.conteudo-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}

.conteudo-contato__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo-contato__titulo{
    color: var(--cor-titulo);
    font-size: 42px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    color: var(--cor-titulo);
}
.conteudo-contato__texto {
    color: var(--cor-texto);
    font-size: 26px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.conteudo-contato__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 0 2em;

}

/*Section FORMAÇÃO:*/
.formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}
.formacao__titulo {
    color: var(--cor-titulo);
    font-size: 42px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;

}
.formacao__topo {
    margin-bottom: 15px;
}

.formacao__texto {
    color: var(--cor-texto);
    font-size: 26px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-texto-data {
    color: black;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--fonte-principal);
    margin-top: 1em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-lista {
    display: flex;
    flex-direction: row;
    padding: 0 20% 0 25%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.formacao__itens-item {
    
    transition: background-color 1s;
    width: 200px;
    height: 125px;
    padding: 1.5% 3% 1.5% 3%;
    background-color: var(--cor-titulo);
    border-radius: 25px;
    margin: 1.5em;
    word-wrap: break-word; 
  }

  .formacao__itens-item:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
  }

.formacao__itens-titulo {
    color: black;
    font-size: 22px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.formacao__itens-texto {
    color: black;
    font-size: 14px;
    font-family: var(--fonte-principal);
    margin-top: 2em;
    word-wrap: break-word;
    line-height: 1.2;
}

.formacao__itens-curso {
    transition: background-color 1s;
    width: 450px;
    height: 50px;
    color: var(black);
    font-size: 24px;
    font-family: var(--fonte-principal);
    margin-top: 1em;
    background-color: var(--cor-titulo);
    padding: 3%;
    text-align: top;
    border-radius: 25px;
}

.formacao__itens-curso:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
}

.formacao__cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20% 0 20%;
}

.link-cur {
    text-decoration: none;
}

.projetos__botoes {
    transition: background-color 1s;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0.5em 2em;
    background-color: var(--cor-fundo-menu);
    border-radius: 10px;
    border-style: none;
    font-family: var(--fonte-principal);
    font-size: 24px;
    color: var(--cor-texto);
    text-decoration: none;
}

.projetos__botoes:hover {
    transition: background-color 1s;
    background-color: var(--cor-hover);
}

.destaque-botao {
    font-weight: bold;
    font-size: 26px;
}

.projetos__container-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 0 2em;
}


.projetos__imagem {
    width: 30%;
    margin-right: 30px;
}

.hide {
    display: none;
}

.projetos__texto {
    color: var(--cor-texto);
    font-size: 20px;
    font-family: var(--fonte-principal);
    text-align: top;
    word-wrap: break-word;
    line-height: 1.2;

}

.principal__container-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 4%;
}

@media screen and (min-width: 1024px) {
    body {
        background-color: var(--cor-fundo);
      }
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cabecalho__logo {
        width: 15%;
    }
    .container {
        display: flex;
        align-items: center;
        margin: 0 8% 0 10%;
    }

    .icone-cabecalho {
        width: 5%;
        margin-right: 1%;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
    .principal__container {
        margin-top: 5%;
    }
    .principal__central {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20% 0 20%;
    }
    .principal__titulo {
        font-size: 48px;
        font-family: var(--fonte-principal);
        font-weight: 700;
        padding: 0 20% 0 20%;
    }
    .principal__imagem {
        width: 35%;

    }
    .principal__texto {
        font-size: 28px;
        padding: 0.5em;
    }
    .strong_text0 {
        color: var(--cor-destaque-laranja);
        font-family: var(--fonte-principal);
        font-weight: bold;

    }
    .principal__botao {
        transition: background-color 1s;
        background-color: var(--cor-titulo);
        border-radius: 15px;
        border-style: none;
        font-family: var(--fonte-principal);
        font-size: 24px;
        font-weight: bold;
        color: var(--cor-texto);
        text-decoration: none;
        padding: 0.5em 0.5em;
        margin-right: 670px;
    }
    .principal__botao:hover {
        background-color: var(--cor-hover);
    }


    }
    .sobre__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% 20%;
        padding: 0 2em;
    }
    .sobre__titulo {
        font-size: 54px;
        font-family: "Teko" , sans-serif;
        font-weight: 400;
    }
    .sobre__texto {
        font-size: 26px;
    }

    .projetos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20% 2% 20%;
    }

    .projetos__titulo {
        color: var(--cor-titulo);
        font-size: 42px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .projetos__lista {
        flex-direction: row;
        gap: 10px
    }

    .rodape {
        display: flex;
        justify-content: center;
        background-color: var(--cor-titulo);
        margin-top: auto;
    }

    .rodape__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }
    .rodape__texto {
        font-size: 15px;
        flex-direction: row;
        font-family: var(--fonte-principal);
        margin: 0.5em;

    }
    .rodape__email {
        font-size: 15px;
        flex-direction: column;
        font-family: "Poppins" , sans-serif;
        margin: 0.2em;
    }
    .rodape__icones_link:hover {
        color: #500bdc;
    }


}

@media screen and (max-width: 1000px) {
    body {
        background-color: var(--cor-fundo);
      }
      .cabecalho {
        display: flex;
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin: 0%;
        border-radius: 10px;
    }
    .container {
        align-items: center;
    
    }

    .container__item-menu {
        font-family: var(--fonte-principal);
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: var(--cor-texto);
        font-size: 20px;    
        margin-right: 20px;
        font-weight: bold;
      }
    
    .principal {
        display: flex;
        flex-direction: column;
    }
      
    .principal__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin: 1% 5%;
    }
    .principal__titulo {
        font-size: 48px;
        font-family: var(--fonte-principal);
        font-weight: 700;
    }

    .principal__central {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .principal__imagem {
        display: flex;
        width: 100%;
        border-radius: 25%;
       

    }
    .principal__texto {
        font-size: 24px;
        
    
    }
    .strong_text0 {
        color: var(--cor-destaque-laranja);
        font-family: var(--fonte-principal);
        font-weight: bold;


    }
    .formacao__titulo {
        color: var(--cor-destaque);
        font-size: 30px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;

    
    }

    .formacao__itens-curso {
        transition: background-color 1s;
        width: 300px;
        height: 60px;
        color: var(--cor-texto);
        font-size: 20px;
        font-family: var(--fonte-principal);
        margin-top: 1em;
        background-color: var(--cor-fundo-menu); 
        padding: 3%;
        text-align: top;
        border-radius: 10px;
    }

    .formacao__itens-lista {
        display: flex;
        flex-direction: row;
        padding: 0 20% 0 25%;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    
    .formacao__itens-item {
        transition: background-color 1s;
        
        width: 200px;
        height: 145px;
        padding: 1.5% 3% 1.5% 3%;
        border-radius: 10px;
        
        word-wrap: break-word; 
      }

    .sobre__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobre__titulo {
        font-size: 54px;
        font-family: "Teko" , sans-serif;
        font-weight: 400;
    }
    .sobre__texto {
        font-size: 26px;
    }

    .projetos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20% 2% 20%;
    }

    .projetos__titulo {
        color: var(--cor-titulo);
        font-size: 24px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    
    }

    .projetos__lista {
        flex-direction: row;
        gap: 10px
    }

    .projetos__botoes {
        transition: background-color 1s;
        width: 350px;
        justify-content: center;
        align-items: center;
        margin: 1em;
        padding: 0.5em 2em;
        background-color: var(--cor-fundo-menu);
        border-radius: 10px;
        border-style: none;
        font-family: var(--fonte-principal);
        font-size: 16px;
        color: var(--cor-texto);
        text-decoration: none;
    }

    .projetos__container-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        padding: 0 2em;
    }

    .projetos__imagem {
        width: 50%;
        margin-bottom: 25px;
    }

    .rodape {
        display: flex;
        justify-content: center;
        background-color: var(--cor-fundo);
        margin-top: auto;
    }

    .rodape__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }
    .rodape__texto {
        font-size: 15px;
        flex-direction: column;
        font-family: var(--fonte-principal);
        margin: 0.5em;

    }
    .rodape__email {
        font-size: 15px;
        flex-direction: column;
        font-family: "Poppins" , sans-serif;
        margin: 0.2em;
    }
    .rodape__icones_link:hover {
        color: #500bdc;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sobre__titulo {
        color: var(--cor-titulo);
        font-size: 32px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        color: var(--cor-titulo);
    }
    
    .sobre__texto {
        color: var(--cor-texto);
        font-size: 20px;
        font-family: "Poppins" , sans-serif;
        margin-top: 2em;
        margin-bottom: 1em;
        word-wrap: break-word;
        line-height: 1.2;
    
    }

    .conteudo-contato__titulo{
        color: var(--cor-titulo);
        font-size: 20px;
        font-family: var(--fonte-principal);
        font-weight: bold;
        text-align: center;
        color: var(--cor-titulo);
    }

}